{% extends "page.html" %}
{% block page_content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron media">
      <div class="media-left media-middle">
        <img alt="Wikidata logo" title="wikidata logo" src="{{ url_for('static', filename='img/logo.svg') }}" />
      </div>
      <div class="media-body">
        <h1 class="media-heading">Query Wikidata with IDs</h1>
      </div>
      <br>
      <div class="form-body">
        <form role="form" action="{{ url_for('single_query') }}" method="post">
            <p>Enter VIAF ID (e.g. "52010985"): <input type="text" name="id_entry" /></p>
            <input type="submit" />
        </form>
      </div>
      <br>
          {% for error in errors %}
            <h4>{{ error }}</h4>
          {% endfor %}
      <br>
      <br>
      <div class="container">
          {% for table in tables if title%}
            <h3>{{ title }}</h3>
            {{ table|safe }}
          {% endfor %}
      </div>
{% endblock page_content %}
